extends layout

block style
  link(rel='stylesheet', href='/stylesheets/style.css')
  link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css?family=Anton')
  link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css?family=Montserrat:400,700')

block content
  h1 WHAT OUTRAGED YOU IN 2015?
  div(id="prompt")
    p Text your outrage to 
      span(class='number') (914) 819 5091
  div(id="outrage")
    p This needs to be 160 characters, that is the maximum amount someone can text, therefore that should be the length of our testing text. 
    ul(id="messages")
  div(id="collageDiv") 
    img(src='/images/outrage_collage.jpg')

block javascript
  script(src='/javascripts/global.js')