extends layout

block content
  h1 WHAT OUTRAGED YOU IN 2015?
  div(id="prompt")
    p Text your outrage to 
      span(class='number') (914) 819 5091
  div(id="outrage")
    p This needs to be 160 characters, that is the maximum amount someone can text, therefore that should be the length of our testing text. 
    ul(id="messages")
  div(id="collageDiv") 
    img(src='/images/outrage_collage.jpg')