body {
  padding: 0;
  margin: 0;
  font-family: "Anton", Arial, sans-serif;
}

#wrapper1920{
  width: 1920px;
  height:1080px;
  background: black;
  margin-left: auto;
  margin-right:auto;
}

#gif-wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 868px;
  height:1080px;
  overflow: hidden;
  position: relative;
}

.gif-bg, #gif-intro {
  height:1080px;
  width:868px;
  position: absolute;
  top:0;
  left:0;
}

#gif-intro {

}

.gif-bg {
  display: none;
}

#gif-name {
  font-size: 32px
}


#sender-name, #trial {
  text-transform: uppercase;
  width: 100%;
  position: absolute;  
  text-align: center;
  height:300px;

  /* animated values */
  font-size: 0;
  top: 40%;
  opacity: 0;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
}

.funnel-in, .funnel-out {
  position: absolute;
  left:0;
  top:0;
}

#outrage {
  
  text-transform: uppercase;
  position: absolute;
  width: 650px;
  padding-left: 109px;
  padding-right: 109px;
  height: 500px;
  overflow: hidden;
  text-align: center;
  line-height: 125%;

  /* animated values*/
  font-size: 0;
  top: 90%;
  opacity: 0;
}

#trial-outrage {
  font-size: 0;
  position: absolute;
  top: 45%;
  left: 10%;
  width: 450px;
  height: 450px;
  overflow: hidden;
  text-align: left;
  line-height: 125%;

}

img {
  width: 100%;
}